<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Личный кабинет </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <style>
        body {
            padding-top: 5rem;
            text-align: center;
        }

        A {
            text-decoration: none;
        }
    </style>
</head>
<body>
<a th:href="@{|/addStudent?key=${key}|}"> Добавить ученика </a>
<br>
<a th:href="@{|/addTeacher?key=${key}|}"> Добавить учителя </a>
<br>
<a th:href="@{|/addPage?key=${key}|}"> Добавить страницу </a>
<br><br><br>
<a th:href="@{|/deleteStudent?key=${key}|}"> Удалить ученика </a>
<br>
<a th:href="@{|/deleteTeacher?key=${key}|}"> Удалить учителя </a>
<br>
<a th:href="@{|/deletePage?key=${key}|}"> Удалить страницу </a>
<br>
<a th:href="@{|/mapStudentAndTeacher?key=${key}|}"> Добавить ученика к учителю </a>
</body>
</html>