<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Список оценок </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <style>
        body {
            padding-top: 5rem;
            text-align: center;
        }

        table.workbook {
            width: 100%;
            border-spacing: 0;
        }

        table.workbook td {
            width: 10%;
            vertical-align: top;
        }

        td.right {
            text-align: left;
        }

        A {
            text-decoration: none;
        }
    </style>
</head>
<body>
<table class="workbook">
    <tr>
        <td class="right">
            <h1 style="text-align: center"> Ссылки </h1><br>
            <a style="font-size: 30px" th:each="studentID : ${studentIDs}"
               th:href="@{|/marksByStudentID?studentID=${studentID}|}"
               th:utext="'X&lt;br /&gt;'">
            </a>
        </td>

        <td class="right">
            <h1 style="text-align: center"> Ученики </h1><br>
            <li style="font-size: 30px" th:each="student : ${students}" th:utext="${student}"></li>
        </td>

        <td class="right">
            <h1 style="text-align: center"> Оценки </h1><br>
            <li style="font-size: 30px" th:each="mark : ${marks}" th:utext="${mark}"></li>
        </td>
    </tr>
</table>
</body>
</html>