<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Информатика, 7 класс, страница 8 </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <style>
        body {
            padding-top: 5rem;
            text-align: center;
        }

        table.workbook {
            width: 100%;
            border-spacing: 0;
        }

        table.workbook td {
            width: 33%;
            vertical-align: top;
        }

        td.left {
            text-align: right;
        }

        td.right {
            text-align: left;
        }

    </style>
</head>
<body>
<table class="workbook">
    <tr>
        <td class="left">
            <img alt="loading..."
                 src="https://am3pap006files.storage.live.com/y4msk2A-SOQkuozAFwqWHRJcOHJG2O_uV_UBnBjfyvGqfNkWU8lGn9ygIzO2nIWXWr4KHJTGV4TBA3rtNyTfxOKoXcjXb38iq01Z-EI0bVzIOIkGVkyxb0ckO5o_KVi8WgWSgrvsOCdZJNNNUv56GQ8pext5nF6PqO-alwXzI_83tMpvKAyP-xaawUS7gX6KinQcALN31SRkBWRwxVtTr9Wgg/8.png?psid=1&width=543&height=806">
        </td>

        <td class="right">

            <div th:if="${role == 'teacher'}">
                <pre>
                    <h1 style="text-align: center"> Ответы ученика </h1><br>
                    <h1 th:utext="${studentAnswers}"></h1>
                </pre>
            </div>

            <div th:unless="${role == 'teacher'}">
                <form action="/informatics78" method="post">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <input name="three1" placeholder="Ответ: " type="text">
                    <input name="three2" placeholder="Ответ: " type="text">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <input name="four11" placeholder="Ответ: " type="text">
                    <input name="four12" placeholder="Ответ: " type="text"><br>

                    <input name="four21" placeholder="Ответ: " type="text">
                    <input name="four22" placeholder="Ответ: " type="text"><br>

                    <input name="four31" placeholder="Ответ: " type="text">
                    <input name="four32" placeholder="Ответ: " type="text"><br>

                    <input name="four41" placeholder="Ответ: " type="text">
                    <input name="four42" placeholder="Ответ: " type="text"><br>

                    <input name="four51" placeholder="Ответ: " type="text">
                    <input name="four52" placeholder="Ответ: " type="text"><br>

                    <input name="four61" placeholder="Ответ: " type="text">
                    <input name="four62" placeholder="Ответ: " type="text"><br>

                    <input name="four71" placeholder="Ответ: " type="text">
                    <input name="four72" placeholder="Ответ: " type="text"><br>

                    <input name="four81" placeholder="Ответ: " type="text">
                    <input name="four82" placeholder="Ответ: " type="text"><br>

                    <input name="four91" placeholder="Ответ: " type="text">
                    <input name="four92" placeholder="Ответ: " type="text"><br>
                    <br><br>
                    <button type="submit"> Подтвердить </button>
                </form>
            </div>
        </td>

        <td class="right">
            <div th:if="${role == 'teacher'}">
                <pre>
                    <h1 style="text-align: center"> Правильные ответы </h1><br>
                    <h1 th:utext="${rightAnswers}"></h1>
                </pre>
            </div>
        </td>
    </tr>
</table>
</body>
</html>