<!DOCTYPE html>
<html>
<head>
    <title> Начальная страница </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet"/>
    <style>
        body {
            padding-top: 5rem;
            text-align: center;
        }

        A {
            text-decoration: none;
        }
    </style>
</head>
<body>

<h1>Кто вы?</h1>
<br><br><br><br>
<h1><a href="authStudent"> Ученик </a></h1>
<h1><a href="authTeacher"> Преподаватель </a></h1>

</body>
</html>