<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Список страниц </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <style>
        A {
            text-decoration: none;
        }

    </style>
</head>
<body>
<h1>Список страниц: </h1>
<a style="font-size: 30px" th:each="page : ${pages}"
   th:href="@{|/page?lesson=${lesson}&grade=${grade}&page=${page}|}"
   th:text="${page}">
</a>
</body>
</html>