<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Список учеников </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <style>
        body {
            padding-top: 5rem;
            text-align: center;
        }

        table.tasks {
            width: 100%;
            border-spacing: 0;
        }

        table.tasks td {
            width: 50%;
            vertical-align: top;
        }

        td.left {
            text-align: right;
        }

        td.right {
            text-align: left;
        }

        A {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1 th:text="'Список заданий ученика: ' + ${Name}"></h1>
<h1 th:text="${Error}"></h1>

<table class="tasks">
    <tr>
        <td class="left">
            <li style="font-size: 30px" th:each="name : ${taskNames}" th:text="${name}"></li>
        </td>
        <td class="right">
            <a style="font-size: 30px" th:each="id : ${IDs}"
               th:href="@{|/taskByID?id=${id}|}"
               th:utext="' ссылка на задание &lt;br /&gt;'">
            </a>
        </td>
    </tr>
</table>
</body>
</html>